.banner{
	background-image: url(../../images/montres.jpg);
	color: khaki;
	padding: 150px 0px;
	background-size:auto;
	background-position: center;


}

.banner h1{
	text-align: left;
	font-size: 100px;
	font-family: 'Roboto', serif;
}

.banner a{
	position: relative;
	left: 200px;
}